*{
    position: relative;
    box-sizing: border-box;
    
}
body{
    background-color: lightslategray;
    font-family: 'Itim', cursive;
}
.navbar-brand {
    bottom: 30px;
    left: -40px;
     
}
.icon-bar {
    background-color: black;
}



}
/*VERTICAL MENU START*/
.vertical-menu {
    position: absolute;
    width: 200px; /* Set a width if you like */
    float: left;
}

    .vertical-menu a {
        background-color: #eee; /* Grey background color */
        color: black; /* Black text color */
        display: block; /* Make the links appear below each other */
        padding: 12px; /* Add some padding */
        text-decoration: none; /* Remove underline from links */
        width: 200px;
    }

        .vertical-menu a:hover {
            background-color: #ccc; /* Dark grey background on mouse-over */
        }

        .vertical-menu a.active {
            background-color: lightslategray; /* Add a green color to the "active/current" link */
            color: white;
        }
/*VERTICAL END*/